@import url(./__image/places__image.css);
@import url(./__paragraph/places__paragraph.css);
@import url(./__place/places__place.css);
@import url(./__title/places__title.css);
@import url(./__website/places__website.css);
@import url(./__figure/places__figure.css);
@import url(./__main-text/places__main-text.css);
@import url(./__link/places__link.css);
@import url(./__url-heading/places__url-heading.css);
.places{
    /* border: 1px solid blue; */
    width: calc(100%-200px);
    margin: auto;
}

/* @media screen and (min-width: 1279px){
    .places{
        width: 100%;
    }
} */

@media screen and (min-width: 767px){
    .places{
        width: 100%;
    }
}