.places__image{
    max-width: 460px;
    /* max-height: 460px; */
    margin: 0;
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1024px){
    .places__image{
        max-width: 440px;
        /* max-height: 440px; */
        /* height: 100%; */
    }
}

@media screen and (max-width: 768px){
    .places__image{
        max-width: 340px;
        /* max-height: 340px; */
        /* height: 100%; */
    }
}

@media screen and (max-width: 320px){
    .places__image{
        max-width: 100%;
        margin-bottom: 32px;
    }
}


/* .places__image{
    max-width: 460px;
    max-height: 460px;
    margin-top: 48px;
    margin-right: 40px;
    padding: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media screen and (max-width: 1024px){
    .places__image{
        margin-right: 32px;
        max-width: 440px;
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px){
    .places__image{
        margin-right: 28px;
        max-width: 340px;
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 320px){
    .places__image{
        max-width: 320px;
        height: auto;
    }
} */