.places__title{
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid green;
    vertical-align: bottom;
}

@media screen and (max-width: 1024px){
    .places__title{
        font-size: 55px;
    }
}

@media screen and (max-width: 880px){
    .places__title{
        font-size: 48px;
    }
}

@media screen and (max-width: 768px){
    .places__title{
        /* width */
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 544px){
    .places__title{
        font-size: 32px;
        line-height: 40px;
    }
}

@media screen and (max-width: 320px){
    .places__title{
        width: calc(100% - 16px);
        margin: auto;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 30px;
    }
}

/* .places__title{
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 460px;
    width: 100%;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 40px;
    border: 1px solid white;
}

@media screen and (max-width: 1024px){
    .places__title{
        margin-right: 32px;
        max-width: 440px;

        height: auto;
    }
}

@media screen and (max-width: 768px){
    .places__title{
        margin-right: 28px;
        max-width: 340px;

        font-size: 42px;
        line-height: 46px;
        height: auto;
    }
}

@media screen and (max-width: 320px){
    .places__title{
        font-size: 32px;
        line-height: 35px;
    }
} */