.languages__link{
    font-family: 'Inter-Regular';
    font-size: 24px;
    line-height: 28px;
}

.languages__link:nth-of-type(2){
    text-decoration: none;
}

.languages__link + .languages__link{
    margin-left: 18px;
}

@media screen and (max-width: 320px){
    .languages__link{
        font-size: 18px;
        line-height: 20px;
    }
    
}