.intro__container{
    max-width: 690px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media screen and (max-width: 768px){
    .intro__container{
        max-width: 720px;
        width: 100%;
    }
}


