.places__main-text{
    padding: 0;
    max-width: 484px;
    width: 100%;
}



@media screen and (max-width: 630px){
    .places__main-text{
        width: calc(100% - 36px);
        margin: auto;
    }
}

@media screen and (max-width: 320px){
    .places__main-text{
        width: calc(100% - 32px);
    }
}
