.places__main-text{
    /* margin-top: 48px; */
    padding: 0;
    max-width: 484px;
    width: 100%;
}

@media screen and (max-width: 1024px){
    .places__main-text{
        /* max-width: 456px; */
    }
}

@media screen and (max-width: 768px){
    .places__main-text{
        /* max-width: 352px; */
    }
}

@media screen and (max-width: 630px){
    .places__main-text{
        width: calc(100% - 36px);
        margin: auto;
    }
}

@media screen and (max-width: 320px){
    .places__main-text{
        /* max-width: 288px; */
        width: calc(100% - 32px);
        /* margin: auto; */
    }
}
