.lead__image{
    object-fit: contain;
    max-width: 984px;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}

@media screen and (max-width: 767px){
    .lead__image{
        margin: auto;
    }
}