@import url(./__list/intro__list.css);
@import url(./__list/intro__list_item.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);
@import url(./__list-accent/intro__list-accent.css);

.intro{
    margin: 0;
    padding: 0;
    margin-top: 92px;
    margin-left: 100px;
    max-width: 690px;
    width: 100%;
    /* width: calc(100% - 394px); */
    height: 569px;
    border: 1px 
}

@media screen and (max-width: 1024px){
    .intro{
        margin-left: 0px;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 768px){
    .intro{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 88px;
        width: 100%;
        /* height: 543px; */
    }
}

@media screen and (max-width: 320px){
    .intro{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 64px;
        margin-bottom: 64px;
        max-width: 720px;
    }
}
