.lead__subtitle{
    font-family: 'Inter';
    color: white;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2em;
    margin: 0 auto 64px;
    max-width: 620px;
    width: calc(100% - 564px);
    text-align: center;
}

@media screen and (max-width: 1024px){
    .lead__subtitle{
        width: calc(100% - 308px);
        margin: 0 auto 56px;
    }
}

@media screen and (max-width: 768px){
    .lead__subtitle{
        width: calc(100% - 100px);
        margin: 0 auto 56px;
    }
}

@media screen and (max-width: 320px){
    .lead__subtitle{
        width: 100%;
        margin: 0 auto 40px;
        font-size: 16px;
        line-height: 1.25em;
    }
}