@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__link/cover__link.css);
.cover{
    margin-top: 92px;
    width: 100%;
}

@media screen and (max-width: 1028px){
    .cover{
        width: calc(100% + 96px);
        margin: auto;
        margin-left: -48px;
    }
}

@media screen and (max-width: 768px){
    .cover{
        width: calc(100% + 48px);
        margin: auto;
        margin-left: -24px;
    }
}
@media screen and (max-width: 320px){
    .cover{
        width: calc(100% + 32px);
        margin: auto;
        margin-left: -16px;
    }
}
