.places__place{
    display: grid;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    /* justify-content: flex-start; */
    list-style-type: none;
    border: 1px solid #ffffff;
    /* overflow: hidden; */
    grid-template-columns: 460px 484px;
    grid-template-rows: 76px 460px;
    column-gap: 40px;
    row-gap: 48px;
    
}

.places__place + .places__place{
    margin-top: 80px;
}

@media screen and (max-width: 1024px){
    .places__place{
        max-width: 928px;
        grid-template-columns: 440 456px;
        grid-template-rows: auto auto;
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px){
    .places__place{
        max-width: 720px;
        grid-template-columns: 340px 352px;
        grid-template-rows: auto auto;
        column-gap: 28px;
    }
}

@media screen and (max-width: 320px){
    .places__place{
        display: block;
        /* flex-direction: column; */
        margin-bottom: 49px; 
    }
    
}