.cover__background{
    background-image: url('../../../images/cover-route-66.jpg');
    z-index: -1;
    border: 1px solid green;
    width: 100%;
    height: 740px;
    opacity: 0.3;
    position: relative;
}

.cover__background:hover{
    opacity: 0.8;
}