.lead__caption{
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4em;
    letter-spacing: 0.15em;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px){
    .lead__caption{
        width: calc(100% - 48px);
        margin: auto;
    }
}

@media screen and (max-width: 320px){
    .lead__caption{
        width: calc(100% - 32px);
    }
}
