@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__links/footer__links.css);

.footer{
    max-width: 1184px;
    width: calc(100% - 96px);
    margin: auto;
    margin-top: 92px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px){
    .footer{
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 320px){
    .footer{
        flex-direction: column;
        width: calc(100% - 32px);
        margin-top: 64px;
        /* min-height: 198px; */
    }
}