.page__wrapper{
    max-width: 1184px;
    margin: auto;
    width: calc(100% - 96px);
    overflow: visible;
    /* min-width: calc(100% - 32px); */
} 

@media screen and (max-width: 768px){
    .page__wrapper{
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 320px){
    .page__wrapper{
        min-width: calc(320px - 32px);
    }
}